name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build deb package
        run: |
          cargo deb -p etchr

      - name: Get deb file path
        id: deb-path
        run: echo "path=$(find target/debian -name "*.deb")" >> $GITHUB_OUTPUT

      - name: Archive Debian package
        uses: actions/upload-artifact@v4
        with:
          name: etchr-deb
          path: ${{ steps.deb-path.outputs.path }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.deb-path.outputs.path }}
